.body {
    overflow: hidden !important;
}
.dashboard-navigation {
    background-color: #1565D8;
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.welcome {
    background-color: #1565D8;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
    margin-left: 12px;
    color: white;
}
.welcome-col {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 0px !important;
}
.dashboard-body {
    background-color: #F5F8FA; /*#F5F8FA*/
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.logo-text {
    color: white;
    font-weight: 900;
    line-height: 21px;
    padding-left: 10px;
}
.logo-div {
    padding-top: 40px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.header {
    height: 60px;
    background-color: white !important;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}
.welcome-col-button {
    background-color: #2C74DC;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 10px;
    width: 100% !important;
    font-size: 13px;
}
.welcome-col>h2 {
    padding-bottom: 10px;
}
.welcome-col>p {
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 400;
    font-size: smaller;
}
.calendar-div {
    background-color: white;
    border-radius: 4px;
}
.react-calendar {
    border: none !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    width: 100% !important;
}
.calendar-col {
    padding-right: 12px !important;
}
.dashboard-row {
    padding-right: 12px;
    padding-top: 20px;
}
.calendar-div>p {
    padding: 12px;
    font-size: 13px;
}
.dashboard-col {
    padding-right: 0px !important;
}
.person-vector {
    height: 100% !important;
    width: 100% !important;
    object-fit: contain !important;
    overflow: hidden !important;
}
.navigation-links {
    margin-top: 20px;
    width: 100%;
    margin-left: auto;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: auto;
}
.active {
    padding: 10px;
    color: white;
    width: 100% !important;
    background-color: #1D2B4F;
    border-left: 3px solid white;
}
.navigation-link {
    padding: 10px;
    color: white;
    width: 100% !important;
    text-align: left;
    margin-bottom: 20px;
}
.navigation-link-inner {
    width: 80%;
    margin-left: 5%;
}
.navigation-link-inner>span {
    margin-bottom: 0 !important;
    font-weight: 500;
    font-size: smaller;
    padding-left: 15px;
}
.header-image {
    border-radius: 50%;
    border: 1px black solid;
    width: 25px;
    height: 25px;
    margin-left: 20px;
}
.header-notification {
    width: 20px;
    height: 25px;
}
.nav-image {
    width: 17px;
    height: 17px;
}
.stats-div {
    margin: 12px;
}
.one {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-top: 12px;
}
.all-time {
    font-size: 13px;
    font-weight: 500;
    text-align: right;
    color: black;
}
.number {
    margin-bottom: 0px;
    font-weight: 800;
    font-size: 20px;
    line-height: 31px;
    padding-bottom: 3px;
}
.patients {
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    color: #8692A6;
    padding-bottom: 5px;
}
.last-month {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1D2B4F
}
.schedule-image {
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #CACBFA;
    border-radius: 4px;
    padding: 5px;
}
.appointment-image {
    background-color: #FDD6A0;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 5px;
}
.waiting-image {
    background: rgba(250, 121, 33, 0.1);
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
    padding: 5px;
}
.stats-col {
    padding-right: 0px !important;
}
.react-calendar__month-view__weekdays__weekday>abbr {
    text-decoration: none !important;
}
.gender-stats {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-top: 12px;
}
.activities-div {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin-top: 12px;
}
.patients-by-gender {
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
}
@media(max-width: 1024px) {
    .patients-by-gender {
        font-size: 14px !important;
    }
}
.by-gender-col {
    padding-right: 0px !important;
}
.patients-this {
    color: #8692A6;
    font-size: 13px;
    font-weight: 500;
    text-align: right;
}
.patients-month {
    color: #1565D8 !important;
}
.patients-div {
    border-radius: 100%;
    border: 3px solid;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: auto !important;
    padding-right: auto !important;
    text-align: center !important;
    border-radius: 100%;
    border-width: 4px;
    border-bottom-color: #5A5EED;
    border-left-color: #20CB85;
    border-right-color: #00CFDE;
    border-top-color: #FF8080;
}
.patients-number {
    margin-bottom: 0px !important;
    font-weight: 800;
    font-size: 18px;
    line-height: 31px;
}
.patients-para {
    margin-bottom: 0px !important;
    font-size: 15px;
    color: grey;
}
.genders-list {
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}
.next-patients-div {
    margin: 12px;
    margin-right: 0 !important;
    background-color: white;
    border-radius: 5px;
    padding: 15px;
}
.border-bottom-blue {
    border-bottom: 3px solid #1565D8;
    padding-bottom: 13px;
}
.patients-col {
    padding-top: 30px;
}
.patients-time>span{
    font-size: smaller;
}
.patients-info-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px;
    gap: 10px;
    background-color: #F9F9FA;
    border-radius: 8px;
    color: white;
    margin-left: 20px;
}
.patients-image {
    height: 25px;
    width: 25px;
    border: 2px solid #8692A6;
    border-radius: 50px;
}
.threedots {
    height: 3px;
    width: 15px;
}
.patients-name {
    padding-left: 15px;
    color: #8692A6;
}
.patients-row {
    padding-top: 12px;
}
.first-row {
    padding-top: 20px !important;
}
.person-div {
    height: 100% !important;
}
.notification-image {
    background-color: #FDD6A0;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    padding: 5px;
}
.notification-span {
    font-size: smaller;
    padding-left: 15px;
}
.notification-each {
    padding-top: 20px;
}
.notification-bell-image {
    width: 18px;
    height: 20px;
}
.activities-icon {
    background-color: #FDD6A0;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    padding: 5px;
}
.statistics-div {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 12px;
    margin-right: 0 !important;
}
@media(max-width: 991px) {
    .statistics-div {
        margin: 12px !important;
    }
    .welcome {
        margin: 12px !important;
    }
    .stats-div {
        margin: 12px !important;
    }
    .next-patients-div {
        margin: 12px !important;
    }
    .calendar-div {
        margin-left: 12px !important;
    }
    .gender-stats {
        margin-left: 12px !important;
    }
    .activities-div {
        margin-left: 12px !important;
    }
    .stats-col {
        padding-right: 12px !important;
    }
    .welcome-col-button {
        margin-top: 15px;
    }
}
.nav-image-profile {
    height: 25px;
    width: 25px;
    border: 1px solid black;
    border-radius: 50px;
}
.navigation-link-div {
    padding-top: 120px;
}
@media(min-width: 992px) {
    .real {
        display: none !important;
    }
}
@media(max-width: 991px) {
    .faux {
        display: none !important;
    }
}